<%- include("partials/header.ejs") %>

<div class="bg-div-admin">

  <% if(data.admin == false){ %>
    <div class="headin"><h1>Sorry, but you're not an admin</h1></div>
  <% } else { %>
    <div class="list">
      <h2>List of all users:</h2>

      <% for(let i=0;i<alldata.length;i++){ %>
      <div class="mem-card">

        <h4 class="name"><%= i+1 %>. <%= alldata[i].username %></h4>

        <div class="adminStatus">
        <% if(alldata[i].admin){ %>
          <p style="color: green;">Admin</p>
        <% } else { %>
          <p style="color: red;">Non-admin</p>
        <% } %>
      </div>
      
        <%= alldata[i].email %>

      </div>
      <% } %>
    </div>

  <% } %>

</div>

<%- include("partials/footer.ejs") %>